MAIL_HOST = smtp.gmail.com
MAIL_USER = rishabhgzp2004@gmail.com
MAIL_PASS = mail-pass


JWT_SECRET = "rishabh"
FOLDER_NAME = "Codehelp"

RAZORPAY_KEY = rzp_test_U5qAfuwInSdmQY

RAZORPAY_SECRET = razor-secret


CLOUD_NAME =  dwdy42sfk
API_KEY = 694711724953211
API_SECRET = api-sec


MONGODB_URL = "mongodb+srv://rishabhgzp2004:<your-pass>@cluster0.gfklmmz.mongodb.net/upskillhub"
PORT = 4000



